{% extends 'accounts/base.html' %}
{% block title %}Add Show{% endblock %}
{% block content %}
<h1> Add Showing </h1>

<form method="POST" enctype="multipart/form-data" action={% url 'addshow' %}>
    {% csrf_token %}
    <p>Film:</p>
    <select name="film">
        {% for film in film %}
        <option value={{film.id}}>{{film.name}}
            {% endfor %}
            
            <br/>
    {% csrf_token %}
    <p>Screen:</p>
    <select name="screen">
        {% for screen in screen %}
        <option value={{screen.id}}>{{screen.number}}
            {% endfor %}
            <br/>
    <input type="date" class="form-control" placeholder= "Showing Date" name="date" > <br/>
    {% csrf_token %}
    <input type="time" class="form-control" placeholder= "Showing Time" name="time" > <br/>
    {% csrf_token %}
    <p> Social Distancing Enabled: </p>
    <input type="checkbox" class="form-control" name="covid" value=True> <br/>
    {% csrf_token %}
    
    <button type="submit" class="btn btn-secondary"> Add Showing </button>
{%endblock%}  