{% extends 'accounts/base.html' %}
{% block title %}Add Show{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card text-black bg-light">
        <div class="card-header">
          <h1>Add Showing</h1>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" action="{% url 'addshow' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="film">Film:</label>
              <select name="film" id="film" class="form-control">
                {% for film in film %}
                <option value="{{film.id}}">{{film.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="screen">Screen:</label>
              <select name="screen" id="screen" class="form-control">
                {% for screen in screen %}
                <option value="{{screen.id}}">{{screen.number}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="date">Showing Date:</label>
              <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group">
              <label for="time">Showing Time:</label>
              <input type="time" class="form-control" id="time" name="time" required>
            </div>
            <button type="submit" class="btn btn-secondary">Add Showing</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
