{% extends 'accounts/base.html' %}
{% block title %}Add Screen{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card text-black bg-light">
        <div class="card-header">
          <h1>Add Screen</h1>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data" action="{% url 'addscreen' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="number">Screen Number:</label>
              <input type="number" class="form-control" id="number" name="number" placeholder="Enter screen number" required>
            </div>
            <div class="form-group">
              <label for="capacity">Screen Capacity:</label>
              <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Enter screen capacity" required>
            </div>
            <button type="submit" class="btn btn-secondary">Add Screen</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
