{% extends 'accounts/base.html' %}

{% block title %}Booking Month View{% endblock %}

{% block content %}
  

  <h1>Booking History for {{ user.username }} - {{ month }}/{{ year }}</h1>
  <table>
    <thead>
      <tr>
        <th>Movie</th>
        <th>Date and Time</th>
        <th>Number of Tickets</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <td>{{ booking.showing.film.name }}</td>
          <td>{{ booking.showing.date }} at {{ booking.showing.time }}</td>
          <td>{{ booking.child_tickets|add:booking.student_tickets|add:booking.adult_tickets }}</td>
          <td>£{{ booking.total_price }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No bookings found.</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total Spent:</td>
        <td>£{{ total_spent }}</td>
      </tr>
    </tfoot>
  </table>
  <style>
    body {
      background-color: #3a3e6d;
      color: #fff;
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 30px;
    }

    th, td {
      padding: 10px;
      border: 1px solid #fff;
      text-align: left;
    }

    th {
      background-color: #3a3e6d;
    }

    tr:nth-child(even) {
      background-color: #3a3e6d;
    }
  </style>
{% endblock %}
