{% extends 'accounts/base.html' %}

{% block title %}Cinema Manager{% endblock %}

{% block content %}
<h1 class="text-white"> Home Page: All the Screens </h1>
<button onclick="window.location.href='addscreen/'" class="btn btn-secondary"> Add Screen</button>
{% for screen in screen%}
<p class="text-white"> Screen Number: {{ screen.number }} <br/>
    Screen Capacity: {{ screen.capacity }} <br/>
    <button onclick="window.location.href='updatescreen/{{ screen.id }}'" class="btn btn-outline-danger"> Update Screen</button>
    <button onclick="window.location.href='deletescreen/{{ screen.id }}'" class="btn btn-outline-danger"> Delete Screen</button>
    
    <hr>
{% endfor %}


{% endblock %}

<style>
  .text-white {
    color: #ffffff;
  }
</style>

