{% extends 'accounts/base.html' %}

{% block title %}Screen Management{% endblock %}

{% block content %}
<div class="head">
  <h1 class="text-white">Home Page: All the Screens</h1>
  <button onclick="window.location.href='addscreen/'" class="btn btn-secondary">Add Screen</button>
</div>

{% for screen in screen %}
<div class="screenblock">
  <div class="screen-details">
    <div class="text-white">
      Screen Number: {{ screen.number }} <br/>
      Screen Capacity: {{ screen.capacity }} <br/>
    </div>
  </div>
  <div class="buttons">
    <button onclick="window.location.href='updatescreen/{{ screen.id }}'" class="btn btn-outline-danger">Update Screen</button>
    <button onclick="window.location.href='deletescreen/{{ screen.id }}'" class="btn btn-outline-danger">Delete Screen</button>
  </div>
</div>
{% endfor %}

<style>
  .head{
    padding-bottom: 10px;
  }
  .screen-details {
    text-align: left;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons button {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .screenblock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 10px;
    gap: 1rem;
  }
</style>


{% endblock %}