{% extends 'accounts/base.html' %}

{% block title %}Cinema Manager{% endblock %}

{% block content %}
<h1 class="text-white"> Home Page: All the Showings </h1>
<button onclick="window.location.href='renaddshow/'" class="btn btn-secondary"> Add Showing</button>
{% for showing in showing %}
<p class="text-white"> 
    Film Name: {{ showing.film }} <br/>
   {% comment %} Screen Number: {{ showing.screen }} <br/>  {% endcomment %}
    Showing Date: {{ showing.date }} <br/>
    Showing Time: {{ showing.time }} <br/>
    <button onclick="window.location.href='updateshow/{{ showing.id }}'" class="btn btn-outline-danger"> Update Showing</button>
    <button onclick="window.location.href='deleteshow/{{ showing.id }}'" class="btn btn-outline-danger"> Delete Showing</button>
    
    <hr>
{% endfor %}


{% endblock %}

<style>
  .text-white {
    color: #ffffff;
  }
</style>
