{% extends 'cinema/base.html' %}

{% block title %}Cinema Manager{% endblock %}

{% block content %}
<h1 class="text-white">Movie Management </h1>
<button onclick="window.location.href='addfilm/'" class="btn btn-secondary">Add Film</button>

{% for movie in movie%}
<div class="movieblock">
  <div class="Description" style="display: inline-block;">
    <p class="text-white">
      Film Name: {{ movie.name }} <br/>
      Film Age Rating: {{ movie.age_rating }} <br/>
      Film Duration:{{ movie.duration }} <br/>
    </p>
  </div>
  <div class="buttons" style="display: inline-block;">
    <button onclick="window.location.href='updatefilm/{{ movie.id }}'" class="btn btn-outline-danger" style="display: block;">Update Film</button>
    <button onclick="window.location.href='delete/{{ movie.id }}'" class="btn btn-outline-danger" style="display: block;">Delete Film</button>
  </div>
</div>
{% endfor %}


{% endblock %}

<style>
  .text-white {
    color: #ffffff;
  }
</style>
