{% extends 'accounts/base.html' %}

{% block content %}
    <div class="welcome-container">
        <h1 class="welcome-header">Welcome to UWEFlix {{request.user.username}}</h1>
    </div>
    <style>
        body {
            {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            color: white;
        }

        .welcome-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }

        .welcome-header {
            font-family: 'Andalé Mono', monospace;
        }
    </style>
{% endblock %}