{% extends 'accounts/base.html' %}

{% block content %}

<h1>Ticket Booked Successfully, {{ ticket.full_name }}!</h1>
<div class="receipt">
    <h3>Booking Receipt:</h3>
    <p>Name: {{ ticket.full_name }}</p>
    <p>Email: {{ ticket.email }}</p>
    <p>Phone Number: {{ ticket.phone_number }}</p>
    <p>Ticket Type: {{ ticket.ticket_type }}</p>
    <p>Ticket Quantity: {{ ticket.ticket_quantity }}</p>
    <p>Total Price: £{{ ticket.total_price }}</p>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.6;
    }

    h1 {
        font-size: 28px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #ffffff;
    }

    h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    .receipt {
        width: 80%;
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .receipt p {
        margin-bottom: 10px;
    }
</style>

{% endblock %}
