{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}
<h1>Book a Movie Ticket</h1>
<form method="post" id="ticket-form">
    {% csrf_token %}
    {{ form.full_name.label_tag }} {{ form.full_name }}<br>
    {{ form.email.label_tag }} {{ form.email }}<br>
    {{ form.phone_number.label_tag }} {{ form.phone_number }}<br>
    {{ form.ticket_type.label_tag }}<br>
    <div class="ticket-types">
    {% for choice in form.ticket_type %}
        <span class="ticket-type">
            {{ choice.tag }} {{ choice.choice_label }}
        </span>
    {% endfor %}
    </div>
    {{ form.ticket_quantity.label_tag }}
    <div class="quantity">
        <button class="minus-btn" type="button" name="button">-</button>
        <input type="text" name="{{ form.ticket_quantity.name }}" id="ticket-quantity" value="{{ form.ticket_quantity.value|default:'1' }}" readonly>
        <button class="plus-btn" type="button" name="button">+</button>
    </div>
    <p>Total amount: <span id="total-amount"></span></p>
    <button type="submit">Book Ticket</button>
</form>

<script>
// Plus and minus button functionality
const quantityInput = document.querySelector('#ticket-quantity');
const minusButton = document.querySelector('.minus-btn');
const plusButton = document.querySelector('.plus-btn');
const form = document.querySelector('#ticket-form');
const totalAmountElement = document.querySelector('#total-amount');

const ticketTypeElements = document.querySelectorAll('[name="ticket_type"]');
const ticketPrices = {
    "student": 8.50,
    "child": 6.50,
    "adult": 11
}

function calculateTotalAmount() {
    const selectedTicketTypeElement = document.querySelector('[name="ticket_type"]:checked');
    const ticketType = selectedTicketTypeElement.value;
    const ticketQuantity = parseInt(quantityInput.value);
    const ticketPrice = ticketPrices[ticketType];
    const totalAmount = ticketQuantity * ticketPrice;
    totalAmountElement.textContent = `£${totalAmount.toFixed(2)}`;
}

ticketTypeElements.forEach(function(element) {
    element.addEventListener('click', function() {
        calculateTotalAmount();
    });
});

minusButton.addEventListener('click', e => {
    e.preventDefault();
    const currentValue = parseInt(quantityInput.value);
    if (currentValue > 1) {
        quantityInput.value = (currentValue - 1).toString();
        calculateTotalAmount();
    }
});

plusButton.addEventListener('click', e => {
    e.preventDefault();
    const currentValue = parseInt(quantityInput.value);
    quantityInput.value = (currentValue + 1).toString();
    calculateTotalAmount();
});

</script>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.6;
    }

    h1 {
        font-size: 28px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #ffffff;
    }

    form {
        width: 80%;
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"], input[type="email"], input[type="tel"] {
        width: 100%;
        height: 30px;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .ticket-types {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .ticket-type {
        margin: 0 10px;
    }

    .quantity {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .minus-btn, .plus-btn {
        background-color: #800080;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .minus-btn:hover, .plus-btn:hover {
        background-color: #660066;
    }

    input[type="text"][readonly] {
        width: 50px;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button[type="submit"] {
        width: 100%;
        height: 40px;
        background-color: #ff0000;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }

    button[type="submit"]:hover {
        background-color: #cc0000;
    }

    p {
        margin-bottom: 0;
        text-align: center;
    }

    #total-amount {
        font-weight: bold;
    }
</style>

{% endblock %}
