{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<h1>Book a Movie Ticket</h1>
<form method="post" id="ticket-form">
    {% csrf_token %}
    {{ form.full_name.label_tag }} {{ form.full_name }}<br>
    {{ form.email.label_tag }} {{ form.email }}<br>
    {{ form.phone_number.label_tag }} {{ form.phone_number }}<br>
    {{ form.ticket_type.label_tag }}<br>
    <div class="ticket-types">
    {% for choice in form.ticket_type %}
        <span class="ticket-type">
            {{ choice.tag }} {{ choice.choice_label }}
        </span>
    {% endfor %}
    </div>
    {{ form.ticket_quantity.label_tag }}
    <div class="quantity">
        <button class="minus-btn" type="button" name="button">-</button>
        <input type="text" name="{{ form.ticket_quantity.name }}" id="ticket-quantity" value="{{ form.ticket_quantity.value|default:'1' }}" readonly>
        <button class="plus-btn" type="button" name="button">+</button>
    </div>
    <p>Total amount: <span id="total-amount"></span></p>
    <button type="submit">Book Ticket</button>
</form>

<script>
// Plus and minus button functionality
const quantityInput = document.querySelector('#ticket-quantity');
const minusButton = document.querySelector('.minus-btn');
const plusButton = document.querySelector('.plus-btn');
const form = document.querySelector('#ticket-form');
const totalAmountElement = document.querySelector('#total-amount');

const ticketTypeElements = document.querySelectorAll('[name="ticket_type"]');
const ticketPrices = {
    "student": 8.50,
    "child": 6.50,
    "adult": 11
}

function calculateTotalAmount() {
    const selectedTicketTypeElement = document.querySelector('[name="ticket_type"]:checked');
    const ticketType = selectedTicketTypeElement.value;
    const ticketQuantity = parseInt(quantityInput.value);
    const ticketPrice = ticketPrices[ticketType];
    const totalAmount = ticketQuantity * ticketPrice;
    totalAmountElement.textContent = `£${totalAmount.toFixed(2)}`;
}

ticketTypeElements.forEach(function(element) {
    element.addEventListener('click', function() {
        calculateTotalAmount();
    });
});

minusButton.addEventListener('click', e => {
    e.preventDefault();
    const currentValue = parseInt(quantityInput.value);
    if (currentValue > 1) {
        quantityInput.value = (currentValue - 1).toString();
        calculateTotalAmount();
    }
});

plusButton.addEventListener('click', e => {
    e.preventDefault();
    const currentValue = parseInt(quantityInput.value);
    quantityInput.value = (currentValue + 1).toString();
    calculateTotalAmount();
});

</script>

<style>
    .ticket-types {
        margin-bottom: 10px;
    }
    
    .ticket-type {
        display: inline-block;
        margin-right: 10px;
    }
</style>

{% endblock %}
