{% extends 'accounts/base.html' %}

{% block title %}Account Edit{% endblock %}

{% block content %}
<!-- <div class="d-flex justify-content-center">
  <div class="d-flex flex-column mx-3">
    <h2 class="text-white">Superusers:</h2>
    <div class="scrollable">
      {% for user in users %}
        {% if user.is_superuser %}
        <div class="movieblock">
          <div class="Description">
            <p class="text-white">
              Username: {{ user.username }} <br/>
            </p>
          </div>
          <div class="buttons">
            <button onclick="window.location.href='updateuser/{{ user.id }}'" class="btn btn-outline-danger">View user</button>
            <button onclick="window.location.href='deleteuser/{{ user.id }}'" class="btn btn-outline-danger">Delete user</button>
          </div>
        </div>
        {% endif %} 
      {% endfor %}
    </div>
  </div>
   -->
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column mx-3">
      <h2 class="text-white">Account Managers:</h2>
      <div class="scrollable">
        {% for user in users %}
          {% if user.is_accountmanager %}
          <div class="movieblock">
            <div class="Description">
              <p class="text-white">
                Username: {{ user.username }} <br/>
              </p>
            </div>
            <div class="buttons">
              <button onclick="window.location.href='updateuser/{{ user.id }}'" class="btn btn-outline-danger">View user</button>
              <button onclick="window.location.href='deleteuser/{{ user.id }}'" class="btn btn-outline-danger">Delete user</button>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
  </div>

  <div class="d-flex flex-column mx-3">
    <h2 class="text-white">Cinema Managers:</h2>
    <div class="scrollable">
      {% for user in users %}
        {% if user.is_cinemamanager %}
        <div class="movieblock">
          <div class="Description">
            <p class="text-white">
              Username: {{ user.username }} <br/>
            </p>
          </div>
          <div class="buttons">
            <button onclick="window.location.href='updateuser/{{ user.id }}'" class="btn btn-outline-danger">View user</button>
            <button onclick="window.location.href='deleteuser/{{ user.id }}'" class="btn btn-outline-danger">Delete user</button>
          </div>
        </div>
        {% endif %} 
      {% endfor %}
    </div>
  </div>

  <div class="d-flex flex-column mx-3">
    <h2 class="text-white">Students:</h2>
    <div class="scrollable">
      {% for user in users %}
        {% if user.is_student %}
        <div class="movieblock">
          <div class="Description">
            <p class="text-white">
              Username: {{ user.username }} <br/>
            </p>
          </div>
          <div class="buttons">
            <button onclick="window.location.href='updateuser/{{ user.id }}'" class="btn btn-outline-danger">View user</button>
            <button onclick="window.location.href='deleteuser/{{ user.id }}'" class="btn btn-outline-danger">Delete user</button>
          </div>
        </div>
        {% endif %} 
      {% endfor %}
    </div>
  </div>

  <div class="d-flex flex-column mx-3">
    <h2 class="text-white">Clubrep:</h2>
    <div class="scrollable">
      {% for user in users %}
        {% if user.is_clubrep %}
        <div class="movieblock">
          <div class="Description">
            <p class="text-white">
              Username: {{ user.username }} <br/>
            </p>
          </div>
          <div class="buttons">
            <button onclick="window.location.href='updateuser/{{ user.id }}'" class="btn btn-outline-danger">View user</button>
            <button onclick="window.location.href='deleteuser/{{ user.id }}'" class="btn btn-outline-danger">Delete user</button>
          </div>
        </div>
        {% endif %} 
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .d-flex.justify-content-center {
    margin-top: 2rem;
  }
  .d-flex.flex-column.mx-3 {
    width: 20rem;
  }
  .scrollable {
    height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .movieblock {
    margin-bottom: 1rem;
    background-color: #afafaf;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1rem;
  }
</style>

{% endblock %}

